header {
  @apply sticky top-0;
}

header:after {
  @apply border-b;
  content: "";
  display: block;
  width: 0%;
  transition: 1s ease-in-out;
}

html.has-scroll-init header:after {
  width: 100%;
  transition: 1s ease-in-out;
}

header .container {
  @apply flex justify-between py-5;
}

header nav ul {
  @apply flex;
}

header nav ul li {
  @apply uppercase;
}

header nav ul li span {
  @apply cursor-pointer relative uppercase font-PrestoLight px-1;
  font-size: 24px;
  transition: 0.6s ease-in-out;
}

header nav ul li span:hover {
}

header nav ul li span:after {
  @apply border-b w-0 left-0 absolute;
  content: "";
  transition: 0.3s ease-in-out;
  top: 40%;
  transform: translateY(-50%);
}

header nav ul li span:hover:after {
  width: 100%;
  transition: 0.3s ease-in-out;
}

header nav ul li:not(:last-child) {
  @apply mr-8 uppercase;
}

/* crazy toggle */

.crazy-toggle {
  @apply flex items-center border border-solid relative p-1 cursor-pointer;
  width: 70px;
  border-radius: 100px;
}

.crazy-toggle svg {
  @apply fill-black dark:fill-beige-regular inline-block;
  transition: 0.6s ease-in-out;
  transform: translateX(0px) rotate(0deg);
}

.crazy-toggle[data-crazy="true"] svg {
  transform: translateX(34px) rotate(180deg);
}
